.splash-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 96vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("http://res.cloudinary.com/dfafbqoxx/image/upload/v1510506841/background-1932466_1920_crmw6h.jpg");
}

.splash-quote {
  width: 100%;
  color: white;
  font-size: 40px;
  padding-left: 50px;
  padding-top: 100px;
}

.splash-ui {
  width: 80%;
  margin-top: 200px;
  padding: 30px;
  color: rgb(200,0,0);
  font-size: 20px;
  font-family: 'Righteous', cursive;
  background: rgba(255,255,255,0.7); /* newer browsers */
  text-align: center;
  border-radius: 20px;
}

.splash-ui-options {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.splash-ui-button {
  font-family: sans-serif;
  width: 200px;
  height: 200px;
  border: 1px solid rgb(200,0,0);
  color: white;
  text-decoration: none;
  transition: all .4s;
}

.splash-ui-button:hover {
  -webkit-filter: brightness(130%)
}

.splash-ui-link-text-meals {
  background-image: url("http://res.cloudinary.com/dfafbqoxx/image/upload/v1510509083/asparagus-2169305_640_phfzf1.jpg");
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: 48% 6%;
}

.splash-ui-link-text-data {
  background-image: url("http://res.cloudinary.com/dfafbqoxx/image/upload/v1510509083/asparagus-2169305_640_phfzf1.jpg");
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-ui-link-text-food {
  background-image: url("http://res.cloudinary.com/dfafbqoxx/image/upload/v1510510307/banner-fsn_brx4kg.jpg");
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 250%;
  background-position: center;
}
